<main>
    <div class="stats-bloco" [ngClass]="{'stats-bloco-dark': app.darkMode}">
        <div class="img-link">
            <img src="../../../assets/icon-facebook.svg" alt="#">
            <p>&#64;nathanf</p>
        </div>

        <h1>1987</h1>
        <p id="p-followers" [ngClass]="{'p-followers-dark': app.darkMode}">FOLLOWERS</p>

        <div class="today">
            <img src="../../../assets/icon-up.svg" alt="#">
            <p>12 Today</p>
        </div>
    </div>

    <div class="stats-bloco" [ngClass]="{'stats-bloco-dark': app.darkMode}">
        <div class="img-link">
            <img src="../../../assets/icon-twitter.svg" alt="#">
            <p>&#64;nathanf</p>
        </div>

        <h1>1044</h1>
        <p id="p-followers" [ngClass]="{'p-followers-dark': app.darkMode}">FOLLOWERS</p>

        <div class="today">
            <img src="../../../assets/icon-up.svg" alt="#">
            <p>99 Today</p>
        </div>
    </div>

    <div class="stats-bloco" [ngClass]="{'stats-bloco-dark': app.darkMode}">
        <div class="img-link">
            <img src="../../../assets/icon-instagram.svg" alt="#">
            <p>&#64;realnathanf</p>
        </div>

        <h1>11k</h1>
        <p id="p-followers" [ngClass]="{'p-followers-dark': app.darkMode}">FOLLOWERS</p>

        <div class="today">
            <img src="../../../assets/icon-up.svg" alt="#">
            <p>1099 Today</p>
        </div>
    </div>

    <div class="stats-bloco" [ngClass]="{'stats-bloco-dark': app.darkMode}">
        <div class="img-link">
            <img src="../../../assets/icon-youtube.svg" alt="#">
            <p>Nathan F.</p>
        </div>

        <h1>8239</h1>
        <p id="p-followers" [ngClass]="{'p-followers-dark': app.darkMode}">SUBSCRIBERS</p>

        <div class="today-red">
            <img src="../../../assets/icon-down.svg" alt="#">
            <p>144 Today</p>
        </div>
    </div>
</main>
